<% if user_signed_in? %>
<h1><%= full_name %></h1>
<% else %>
<h1> Sign in to continue</h1>
<% end %>

<% if user_signed_in? %>

<p>Username: <%= @user.username %></p>
<p>Birthday: <%= @user.birthday %></p>



    
 

<% else %>

<% end %>